@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $mobile-padding $smallest-space-between;
  gap: $smallest-space-between;
  background-color: $white;
  box-shadow: 4px 4px $silver;
  border-radius: 8px;
  border: 1.5px solid $gray;
  width: 200px;
  @include tablet {
    width: 250px;
  }
  @include desktop {
    width: 300px;
  }
  &:hover {
    animation: rotateShadow 1s ease forwards;
  }
  @keyframes rotateShadow {
    0% {
      transform: rotate(0deg) scale(1);
      box-shadow: 4px 4px $gray;
    }
    25% {
      transform: rotate(5deg) scale(1.025);
      box-shadow: 6px 6px $gray;
    }
    50% {
      transform: rotate(-5deg) scale(1.05);
      box-shadow: -6px 0px $gray;
    }
    100% {
      transform: rotate(0deg) scale(1.1);
      box-shadow: 6px 6px $gray;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $smallest-space-between;
    @include tablet{
      gap: $small-space-between;
    }
    @include desktop{
      gap: $mobile-padding;
    }
  }

  &__icon {
    width: 135px;
    @include tablet {
      width: 148px;
    }
    @include desktop {
      width: 194px;
    }
  }

  &__title {
    @include subheader;
    text-align: center;
  }

  &__demoLink {
    @include body-large;
    color: $fade-black;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
      color: $vibrant-lips;
    }
  }

  &__details {
    @include labels-links-button;
    cursor: pointer;
    margin-bottom: $small-space-between;
    padding: $tiny-space-between $small-space-between;
    border-radius: $oval-border-radius;
    border: 1px solid $fade-black;
    background-color: $cream;
    color: $black;
    box-shadow: 5px 5px $gray;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    //button effect: being pushed down on hover
    &:hover {
      box-shadow: 3px 3px $gray;
      transform: translateY(4px);
    }
  }

  &--expanded {
    width: 100%;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    transition: box-shadow 0.7s ease, transform 0.7s ease;
    &:hover {
      animation: none;
      box-shadow: 6px 6px $gray;
      transform:scale(1.03);
    }
    .project-card {
      &__details {
        margin-bottom: 0;
      }
      &__description {
        @include body-large;
        display: flex;
        flex-direction: column; 
        gap: $smallest-space-between;
        padding: 0 $smallest-space-between 0 $mid-space-between;
        ::marker {
          color: $vibrant-lips;
        }
      }
    }
  }
}
