$vibrant-lips: #d44d58;
$cherry: #a54054;
$dark-lips: #a5515f;
$lips: #c9576a;
$light-lips: #e1828a;
$pink: #e0848c;
$light-pink: #fae3e2; //background
$fade-skin: #fecdcb;
$skin: #f5b7b1;
$light-skin: #dead9a;
$lighter-skin: #fcd9cb;
$dark-skin: #a47671;
$cream: #f9d6b6;
$mustard: #f0a72b;
$dirty-cream: #cab8b9;
$fade-dirty-cream: #e2cdce;
$white:#f7f4f4;
$dirty-white: #f2f1f1;
$light-silver: #e9e9e9;
$silver: #b5b6ba;
$gray: #7b767c;
$brown: #3c302f;
$fade-black: #333;
$black: #000000;
