$vibrant-lips: #d44d58; 
$cherry:#a54054;
$dark-lips: #a5515f;
$lips: #c9576a;
$light-lips: #e1828a; 
$pink:#e0848c;
$light-pink:#fae3e2;
$fade-skin:#fecdcb;
$skin:#d99692;
$light-skin:#dead9a;
$dark-skin:#a47671;
$cream:#f9d6b6;
$mustard:#f3b54a;
$dirty-cream:#cab8b9;
$white:#e9e9e9;
$silver:#b5b6ba;
$gray:#7b767c;
$brown:#3c302f;
$fade-black:#333;
$black:#000000;
