$vibrant-lips: #d44d58; 
$dirty-pink: #a5515f;
$lips: #cc6173;
$light-lips: #e1828a; 
$pink:#eaa6ac;
$light-pink:#fae3e2;
$skin:#d99692;
$light-skin:#dead9a;
$dark-skin:#a47671;
$cream:#f9d6b6;
$mustard:#f3b54a;
$dirty-cream:#cab8b9;
$white:#eaeff2;
$silver:#b5b6ba;
$gray:#807b81;
$brown:#4b3d3c;
$black:#362a36;
