@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: $mobile-padding;
  @include tablet {
    align-items: flex-start;
    gap: $mid-space-between;
  }

  &__title {
    @include subheader;
    color: $cherry;
  }

  &__list {
    @include body-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: square;
    text-align: left;
    padding-left: $mid-space-between;
    gap: $small-space-between;
    width: 90%;
    @include tablet {
      width: 100%;
    }
  }

  &__slider {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: $large-space-between;
    @include tablet {
      align-self: center;
    }
  }
}
