@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.certificate {
  display: flex;
  flex-direction: column;
  gap: $mobile-padding;
  width: 100%;
  @include tablet {
    gap: $mid-space-between;
  }
  &__header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: $small-space-between;
    @media only screen and (max-width: 330px) {
      padding-left: $small-space-between;
    }
    padding-left: $mobile-padding;
    @media only screen and (min-width: 1170px) {
      padding: 0;
      gap: $mid-space-between;
      justify-content: center;
      align-items: center;
    }
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 330px) {
        width: 28px;
      }
      width: 36px;
      @media only screen and (min-width: 1170px) {
        width: 44px;
      }
    }
    &-title {
      @include subheader;
    }
  }
  &__list {
    @include body-large;
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    gap: $smallest-space-between;

    @media only screen and (max-width: 330px) {
      padding-left: $tablet-padding;
    }
    padding-left: $large-space-between;
    @media only screen and (min-width: 1170px) {
      padding: 0;
      gap: $small-space-between;
      justify-content: center;
      align-items: center;
    }
    @include desktop{
      gap: $mobile-padding;
    }
  }
  &__slider {
    display: flex;
    align-items: center;
    width:fit-content;
    @media only screen and (max-width: 330px) {
      margin: 0 $mobile-padding;
    }
    margin: 0 $tablet-padding;
    @media only screen and (min-width: 1170px) {
      margin: 0 $desktop-padding;
    }
  }
}
