@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $mobile-padding;
  @include tablet {
    gap: $tablet-padding;
  }
  @media only screen and (min-width: 1170px) {
    align-items: center;
  }
  &__header {
    @include subheader;
    color:$cherry;
  }
  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
  }
}
