@use "./styles/partials/typography" as *;
@use "./styles/partials/colors.scss" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/variables" as *;

//default styling for website
*,
*::before,
*::after,
a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.app {
  background-color:#0a192f;
  min-height: 100vh;
  background-attachment: fixed;
  color:$white;
}
